@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Square+Peg&display=swap');

.main-container{
    color: #007bff;
}
.main-container h2{
    margin-top: 5rem;
    font-weight: bold;
    font-family: 'Square Peg', cursive;
    font-size: 6rem;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 2rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: #05366a;
}