.searchBar{
    display: flex;
    min-width: 30%;
    margin: 0 auto;
}
.search-btn{
    outline: none;
    min-width: 70px;
}
.search-btn:hover span{
    display: none;
}
.search-btn:hover:before{
    content:"+";
    color: var(--blue);
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    border: none;
}
.search-btn:click:before{
    outline: none;
    border: none;
}
.form-control:focus{
    color: #0d324d;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}
@media (max-width: 950px){
    .searchBar{
        margin-right: 3rem;
    }
}
@media (max-width: 700px){
    .searchBar{
        position: relative;
        margin-top: 3.5rem;
    }  
}