.btn-hover {
  background-color: #444444;
  color: #242424;
}
.btn {
  background-color: #242424;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
}
.btn:hover {
  background-color: #444444;
  color: #242424;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  font-size: 15px;
  background-color: #ebe6e6;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
}
nav div {
  padding: 10px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.home a {
  text-decoration: none;
}
.home a:visited {
  color: black;
}
.home .top-title {
  display: block;
  background-color: #ebe6e6;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
}
.home nav {
  color: black;
}
.home .hamburger {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.home .hamburger .line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  margin-block: 6px;
  border-radius: 5px;
  transition: transform 0.5s;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro img {
  margin-top: 40px;
  border-radius: 20px;
  width: 100%;
}
.home .music-images {
  display: block;
  width: 100%;
}
.home .music-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .musica-nueva {
  padding: 15px;
}
.home .musica-nueva h3 {
  margin-top: 11px;
}
.home .musica-nueva p {
  margin-top: 13px;
}
.home .actual {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .actual .actual-text {
  width: 50%;
}
.home .actual .actual-text h3 {
  margin-bottom: 10px;
}
.home .actual .actual-text p {
  margin-bottom: 26px;
}
.home .actual .actual-img {
  width: 46%;
  margin-left: 4%;
}
.home .actual .actual-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .btn {
  background-color: #242424;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  display: block;
}
.home .btn:hover {
  background-color: #444444;
  color: #242424;
}
.home .btn #a-btn:visited {
  color: white;
}
.dropdown {
  display: none;
}
.dropdown a {
  display: none;
}
.registro h2 {
  margin-top: 40px;
  padding: 15px;
  text-align: center;
}
.registro p {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 20px;
}
.form-container {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
}
.form-container input {
  width: 50%;
  padding: 10px 0;
  color: black;
  background: transparent;
  border: none;
  border-bottom: 1px solid #9b9a9a;
  margin-bottom: 30px;
  text-align: center;
}
.form-container button {
  background-color: #7a96e4;
  color: white;
  font-weight: bold;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  width: 50%;
}
#footer-register {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 500px) {
  .home .options {
    display: none;
  }
  .home .hamburger {
    display: block;
  }
  .home .dropdown {
    width: 150px;
    border-top: 2px solid #828380;
    padding: 20px;
    position: absolute;
    top: 35px;
    right: 65%;
    left: 35%;
    background-color: #ebe6e6;
    box-shadow: 0 2px 5px #ccc;
    display: none;
    z-index: 100000;
  }
  .home .dropdown a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
  }
  .home .dropdown a:last-of-type {
    border: 0;
  }
  .home .intro img {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
  }
  .home .music-images {
    display: block;
    width: 100%;
  }
  .home .music-images img {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
  }
  .home .music-images .tecnologia {
    display: none;
  }
  .home .music-images .ondas {
    display: none;
  }
  .home .actual {
    display: flex;
    margin-top: 40px;
    border-top: 1px solid #dee2e6;
    padding: 10px;
    flex-direction: column;
  }
  .home .actual .actual-text {
    width: 100%;
    order: 2;
  }
  .home .actual .actual-img {
    width: 100%;
    order: 1;
    margin: 0;
    padding: 1px;
  }
  .home .actual .actual-img img {
    width: 100%;
    border-radius: 10px;
  }
}
