li{
  max-height: 250px;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 650px;
  background: #4d4d4d;
  border-radius: 5px;
  position: relative;
}



.details {
  padding: 50px 0 0 50px;
}

.title {
    color: white;
    font-size: 40px;
    margin-bottom: 13px;
    line-height: normal;
    position: relative;
    text-align: center;
}
.title span {
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
  }
  .subtitle{
    color: white;
    text-align: center;
  }
.description {
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  padding: 1.5rem;  
}
.column {
    padding-top:0px;
    padding-left: 41px;
    margin-left: 20px;
    width: 480px;
    
}

.container2 {
  display: flex;
  flex-direction: row;
}

.container2 img {
  width: 320px;
  height: 360px;
  padding-left: 25px;
  
}

