@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Square+Peg&display=swap');

.cardContainer{
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px;
    margin: 0 auto;
    background: linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
    box-shadow: 3px 3px 3px 3px rgba(2,119,189 ,1);
    border-radius: 20px;
    margin-top: 24px;
    transition: .4s;
}
.cardContainer:hover{
    transform: scale(1.1);
}
.cardContainer h2{
    color: rgb(233, 233, 233);
    margin-top: 8px;
    font-family: 'Square Peg', cursive;
    font-size: 64px;
}
.closeCardBtn{
    border: none;
    background-color: var(--closeBtnBgColor);
    color: white;
    font-weight: bold;
    width: 24px;
    position: absolute;
    margin-left: 367px;
    margin-top: 8px;
    border-radius: 30px;
    outline: none;
    transition: .5s;
}
.closeCardBtn:hover{
    outline: none;
    border: none;
    background-color: white;
    color: var(--closeBtnBgColor);
    transform: scale(1.2);
    box-shadow: 1px 1px rgb(3, 32, 82);
}
.closeCardBtn:focus{
    outline: none;
    border: none;
}
.cardInfoContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cardInfoContainer p{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;
}
.minTempContainer{
    display: flex;
    flex-direction: column;
    margin-left: 16px;  
}
.maxTempContainer{
    display: flex;
    flex-direction: column;
}
.weatherIconContainer{
    display: flex;
    flex-direction: column;
}