body::after {
  content: "";
  background: url("https://www.publicdomainpictures.net/pictures/30000/velka/web-background-cloud-formations-i.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
.App {
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
:root{
  --closeBtnBgColor: red;
}